.app {
  width: 100vw;
  // min-height: 100vh;

  &__popup{
    // flex-wrap: wrap;
    background-color: rgba(245,245,245,1);
    width: 60%;
    max-width: 850px;
    // height: 50%;

    margin: 20px auto;
    padding: 20px 10%;

    border-radius: 20px;
    box-shadow: 4px 6px 14px -1px rgba(0,0,0,0.47);

    @media (max-width: 768px){
      width: 90%;
      // padding: 30px 30px;
    }


    animation: swipeup 0.8s ease;
  }

  &__heading{
    h1{
      font-size: 50px;
      margin-bottom: 20px;
    }
    h3{
      font-weight: 400;
    }
    margin-bottom: 20px;
  }

}

@keyframes swipeup {
  0%{ margin-top: 150%; }
  100% { margin-top: 20px; }

}
